{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artiom Trush</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static 'main/img/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static 'main/img/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'main/css/style.min.css' %}">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">

                <nav class="header__logo">
                    <ul class="logo__list">
                        <li class="header__logo-link">
                            <a href="https://ru.wikipedia.org/wiki/Python" class="python__link">Python</a>
                        </li>
                        <li class="header__logo-link">
                            <a href="https://checkroi.ru/blog/professiya-python-programmist/#:~:text=Python%2D%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA%20%E2%80%94%20%D1%81%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D0%B8%D1%81%D1%82%2C%20%D0%BA%D0%BE%D1%82%D0%BE%D1%80%D1%8B%D0%B9,%D0%B8%20%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F%20%D0%BE%D1%82%D0%BD%D0%BE%D1%81%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%20%D0%B4%D1%80%D1%83%D0%B3%D0%B8%D1%85%20%D1%8F%D0%B7%D1%8B%D0%BA%D0%BE%D0%B2." class="developer__link">Developer</a>
                        </li>
                    </ul>
                </nav>

                <nav class="header__menu">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="#About_me" class="header__link js-scroll">About me</a>
                        </li>
                        <li class="header__item">
                            <a href="#Education" class="header__link js-scroll">Education</a>
                        </li>
                        <li class="header__item">
                            <a href="#Work__Experience" class="header__link js-scroll">Work Experiense</a>
                        </li>
                        <li class="header__item">
                            <a href="#Skills_and_Summary" class="header__link js-scroll">Skills & Summary</a>
                        </li>
                        <li class="header__item">
                            <a href="#Contacts" class="header__link js-scroll">Contacts</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>

    <main class="main">
        <div class="hello">
            <div class="hello__conteiner wrapper__min">
                <div class="hello__content" id="About_me">
                    <h1 class="hello__title title">Hi, I`m Artiom, <br> Junior Python Developer</h1>
                    <div class="ava__min">
                        <img src="{% static 'main/img/ava.png' %}" width="150" height="150">
                    </div>
                    <div class="hello__text text"> <span class="select">Since July 2015 up until now, I have worked in various positions for a state enterprise.</span>
                        <p><br>
                        <ul>During this time, I have leant to be:</ul>
                        <li>responsible,</li>
                        <li>goal-oriented,</li>
                        <li>punctual,</li>
                        <li>developed time management,</li>
                        <li>communication and teamwork skills.</li> </p>
                        <p><br>Within a short time, good performance helped me to achieve a managerial position, which gave me experience in public speaking,
                        negotiating, reporting, target-setting and control and, most importantly, in personnel management.</p>
                        <p><br> Currently I am in charge of more than 70 employees.</p>
                        </div>
                        <a href="{% static 'main/doc/Artiom Trush Python Developer.pdf' %}" class="hello__btn btn" download>Dowload Resume</a>
                    </div>

                <div class="hello__ava">
                    <img src="{% static 'main/img/ava.png' %}" width="230" height="230" alt="ava" class="ava">
                </div>
            </div>
        </div>

        <div class="education" id="Education">
            <div class="education__container wrapper__min">
                <h2 class="education__title title">Education</h2>
                <div class="university">
                    <div class="university__degree">
                        <h3 class="university__title title">University Degree</h3>
                        {% for el in education %}
                        <div class="university__text text">{{ el.time }}<p><br>{{ el.location }}</p>{{  el.title }}</div>
                        {% endfor %}
                    </div>
                    <div class="university__logo">
                        <img src="{% static 'main/img/svg/BGUIR-logo.jpg' %}" width="100" height="100" alt="bsuir">
                    </div>
                </div>

                <div class="courses">
                    <h3 class="courses__title title">Courses</h3>
                    <div class="slideshow-container">

                        <div class="mySlides fade">
                            <img src="{% static 'main/img/certificate/DMR-min.jpg' %}" class="img" width="100%" height="560px">
                            <p>07.2016 <br>OOO “FRIENDLY” <br> Course: Digital radio communication</p>
                        </div>

                        <div class="mySlides fade">
                          <img src="{% static 'main/img/certificate/ICND_1-min.jpg' %}" class="img" width="100%" height="560px">
                          <p>02.2017 <br>IT-TRAINING.BY <br> Course: Interconnecting Cisco Networking Devices, Part 1 </p>
                        </div>

                        <div class="mySlides fade">
                          <img src="{% static 'main/img/certificate/ICND_2-min.jpg' %}" class="img" width="100%" height="560px">
                          <p>03.2017 <br>IT-TRAINING.BY <br> Course: Interconnecting Cisco Networking Devices, Part 2 </p>
                        </div>

                        <div class="mySlides fade">
                          <img src="{% static 'main/img/certificate/Satellite-min.jpg' %}" class="img" width="100%" height="560px">
                          <p>08.2017 <br>BELINTERSAT <br> Course: Satellite resource use control </p>
                        </div>

                        <div class="mySlides fade">
                            <img src="{% static 'main/img/certificate/ITSO-min.jpg' %}" class="img" width="100%" height="560px">
                            <p>04.2019 <br>INTERNATIONAL TELECOMMUNICATION UNION <br> Course: Satellite communication </p>
                        </div>

                        <div class="mySlides fade">
                            <img src="{% static 'main/img/certificate/HTML_CSS-min.jpg' %}" class="img" width="100%" height="560px">
                            <p>05.2021 <br>STEPIC.ORG <br> Course: HTML, CSS </p>
                        </div>

                        <div class="mySlides fade">
                            <img src="{% static 'main/img/certificate/Python-min.jpg' %}" class="img" width="100%" height="560px">
                            <p>02-06.2021 <br>Teach Me Skills <br> Course: Python Developer </p>
                        </div>

                    </div>
                    <br>

                      <div style="text-align:center" class="courses__all">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                        <span class="dot" onclick="currentSlide(5)"></span>
                        <span class="dot" onclick="currentSlide(6)"></span>
                        <span class="dot" onclick="currentSlide(7)"></span>
                      </div>
                </div>
            </div>

            <div class="work__experience wrapper__min" id="Work__Experience">
                <h2 class="work__experience title">Work Experience</h2>
                <ul class="work__experience text">
                    {% for el in work_exp %}
                    <li> {{ el.time }} <br> {{ el.title }}
                    </li><br>
                    {% endfor %}
                </ul>
            </div>
            <div class="skills wrapper__min" id="Skills_and_Summary">
                <h2 class="skills__title title">Skills & Summary </h2>
                <div class="skills__and__summary__list">
                    <div class="skills__list">
                        <h3 class="skill__title title">Skills</h3>
                        {% for el in skills  %}
                        <h4 class="language__list-title">{{ el.title }}</h4>
                        {% endfor%}
                    </div>
                    <div class="summary__list">
                        <h3 class="summary__title title">Summary</h3>
                        {% for el in summary  %}
                        <h4 class="language__list-title">{{ el.title }}</h4>
                        {% endfor%}
                    </div>
                    <div class="language__list">
                        <h3 class="language__title title">Language</h3>
                        {% for el in language  %}
                        <h4 class="language__list-title">{{ el.title }}</h4>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" id="Contacts">
        <div class="mobile">
           <img src="{% static 'main/img/svg/mobile.png' %}" class="fa fa-mobile"> <span class="text-link">tel: +375297357887</span>
        </div>
        <div class="contacts__container">
            <a href="https://t.me/tiomatrush"><img src="{% static 'main/img/svg/telegram.png' %}" class="fa fa-telegram"></a>
            <a href="https://www.linkedin.com/in/artiom-trush-381733185/"><img src="{% static 'main/img/svg/linkedin.png' %}" class="fa fa-linkedin"></a>
            <a href="https://github.com/artiomtrush"><img src="{% static 'main/img/svg/github.png' %}" class="fa fa-github"></a>
            <a href="https://vk.com/a.trush93"><img src="{% static 'main/img/svg/vk.png' %}" class="fa fa-vk"></a>
            <a href="https://www.instagram.com/tiomatrush/"><img src="{% static 'main/img/svg/insta.png' %}" class="fa fa-instagram"></a>
        </div>
        <div class="mail">
            <img src="{% static 'main/img/svg/mail.png' %}" class="fa fa-mail"> <span class="text-link">tiomatrush@gmail.com</span>
        </div>
        </div>
    </footer>
    <script src="{% static 'main/js/main.min.js' %}"></script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(83164228, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/83164228" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</body>
</html>